// 
// _page-head.scss
// 

.page-title-box {
    padding: 10px $grid-gutter-width;
    background-color: var(--#{$prefix}secondary-bg);
    box-shadow: var(--#{$prefix}page-title-box-shadow);
    border-bottom: 1px solid var(--#{$prefix}page-title-border);
    margin: -23px (-$grid-gutter-width * 1) $grid-gutter-width (
        -$grid-gutter-width * 1
    );

.breadcrumb {
    background-color: transparent !important;
    padding: 0;

    .breadcrumb-item {
        a {
            color: var(--#{$prefix}body-color);
            opacity: 0.7;
        }

        &.active {
            color: var(--#{$prefix}body-color);
        }

        &::before {
            color: var(--#{$prefix}body-color);
            opacity: 0.7;
        }
    }
}

h4 {
    color: var(--#{$prefix}body-color);
    font-weight: 700;
    font-size: 15px !important;
    text-transform: uppercase;
}
}

[data-layout="horizontal"] {
    .page-title-box {
        padding: 1.2rem 0;
        background-color: var(--#{$prefix}secondary-bg) !important;
        border-bottom: 1px solid var(--#{$prefix}page-title-border);
        box-shadow: none;
        margin: 0;

        @media (min-width: 1024.1px) {
            margin: -19px 0 0 0;
        }
    }
}

[data-layout="vertical"] {
    &[data-layout-style="detached"] {
        .page-title-box {
            padding: 1.2rem 0;
            background-color: var(--#{$prefix}secondary-bg) !important;
            border-bottom: 1px solid var(--#{$prefix}page-title-border);
            box-shadow: none;
            margin: 0;

            @media (min-width: 1024.1px) {
                margin: -19px 0 0 0;
            }
        }
    }
}